h3.titulo{
    color:#2c58b5;
    background-color:#dfa929;
}

h3.titulo2{
    color:#ae1622;
    background-color: #16aea2;
}

#chismoso {
    background-color:#fff;
    color: #84dffb

}

body
{
    background-color: rgb(251, 0, 255);
}

