.hi{
    text-align: center;
    text-decoration: underline;
    color: rgb(156, 70, 236);
}

.tea{
    text-align: center;
    color: rgb(156, 70, 236);
}

.stare{
    text-align:center;
    color: rgb(156, 70, 236);
}

.always{
    text-align: center;
    color: rgb(156, 70, 236);
}