.inio{
    background-color: black;
}

h3.ic{
    color:white;
    
}

.hi:hover{
    text-align: center;
    text-decoration: underline;
    color: rgb(156, 70, 236);
    cursor: pointer;
    background-color: white;
}

.tea{
    text-align: center;
    color: rgb(156, 70, 236);
}

.stare{
    text-align:center;
    color: rgb(156, 70, 236);
    text-transform: capitalize;
    text-decoration: line-through;
}

.always{
    text-align: center;
    color: rgb(156, 70, 236);
    text-decoration: overline;
}
.md{
    text-align:left;
}

.texto
{
    text-align:justify;
    color:aliceblue;

}

.kw{
    text-align: right;
    
}

.tc{
    text-align: right;
}

table, th, td{
    border-style: solid;
    border-color:darkgreen;
    border-width: medium;  
    color:white; 
}

.qnsms{
    text-align: center;
    align-items: center;
}

.sueño{
    background-color:midnightblue;
    color:white;
}

.jaja{
    background-color:maroon;    
    color:lightskyblue;
}