h1.alcentro{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3.sub{
    color:blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.qn{
    color:rgb(212, 121, 9);
}

.dnd{
    color:rgb(212, 121, 9)
}

.uno:hover{
    cursor: pointer;
    background-color:blue;

}
.dos:hover{
    cursor: pointer;   
    background-color:blue;

}
.tres:hover{
    cursor: pointer;
    background-color:blue;

}
.cuatro:hover{
    cursor: pointer;
    background-color:blue;

}
.komo{
    color:rgb(212, 121, 9)
}

